/*This a starting template for this project*/
body {
  background-image: url("stars.jpg");
  background-repeat: repeat;
  background-position: top center !important;
  background-size: 400px;
  background-attachment: fixed;
}

.title {
  color: white;
  font-size: 60px;
}

.container {
    background-color: black;
    max-width: 960px;
}

.card {
    color: white;
    margin: auto;
    width: 50%;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}